<template>
    <div id="app">
        <div class="games">
            games
        </div>
        <div class="widget">
            <img src="./assets/logo.png">
            <HelloWorld msg="Welcome to Your Vue.js App"/>
        </div>
        <div class="ticket">
            ticket
        </div>

    </div>
</template>

<script>
    import HelloWorld from './components/HelloWorld.vue'

    import feed from './FEED';

    export default {
        name: 'app',
        components: {
            HelloWorld
        }
    }
</script>

<style lang="scss" rel="stylesheet/scss">
    @import "assets/scss/app";
</style>
